.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  /* background-color: #fff; */
  background-color: #fbfbfb;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
  /* z-index: 6; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: #1f1f24;
}

.header__nav-link {
  /* border: 0px solid orange; */
  transition: color 0.3s ease;
  /* transition: border .9s ease; */
}

.header__nav-link:hover {
  color: orange;
  /* border: 1px solid orange; */
}

.header__contacs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__tel {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 25px;
  color: #1f1f24;
}

.header__link {
  padding: 15px 40px;
  font-family: "Roboto";
  font-size: 16px;
  /* color: #f53f4f; */
  color: orange;
  /* border: 1px solid #f53f4f; */
  border: 1px solid orange;
  background-color: inherit;
  transition: background-color 1s ease;
  transition: color 1s ease;
}

.header__link:hover {
  color: #fff;
  background-color: orange;
}

@media (max-width: 1000px) {
  .header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .header__link {
    padding: 15px 40px;
  }
}

.header-mobile__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header-mobile__burger {
}

.header-mobile__burger-btn {
  position: relative;
  width: 30px;
  height: 23px;
  z-index: 3;
}

.burger-btn__disable {
  pointer-events: none;
}

.header-mobile__burger-layer {
  position: absolute;
  width: 100%;
  height: 3px;
  background: linear-gradient(
    90deg,
    rgba(255, 124, 0, 1) 0%,
    rgba(118, 9, 121, 1) 35%,
    rgba(0, 14, 255, 1) 100%
  );
  transition: width 0.3s ease;
}

.header-mobile__burger-layer-1 {
}

.header-mobile__burger-layer-2 {
  top: 10px;
}

.header-mobile__burger-layer-3 {
  bottom: 0px;
}

.header-mobile__burger-layer-4 {
  top: -6px;
  left: -5px;
  width: 0px;
  transform: rotate(38deg);
  transform-origin: left;
}

.header-mobile__burger-layer-5 {
  top: -6px;
  right: -5px;
  width: 0px;
  transform: rotate(-38deg);
  transform-origin: right;
}

.layer-1-animation {
  width: 0;
}

.layer-2-animation {
  width: 0;
}

.layer-3-animation {
  width: 0;
}

.layer-4-animation {
  width: 50px;
}

.layer-5-animation {
  width: 50px;
}

.header-mobile__burger-menu {
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px 50px;
  width: 250px;
  z-index: 2;
  background-color: white;
  box-shadow: 10px 10px 22px -3px rgba(34, 60, 80, 0.2);
}

.header-mobile__menu-item:not(:last-child) {
  margin-bottom: 25px;
}

.header-mobile__menu-item {
  transition: color 0.3s ease;
}

.header-mobile__menu-item {
  counter-reset: orange;
}

.header-mobile__tel {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 18px;
  color: #1f1f24;
}

