
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оставить заявку</title>
    <link rel="stylesheet" href="../../static/css/normalize.css">
    <link rel="stylesheet" href="../../static/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../static/css/form-page.css">

{% block content %}
    
    <form method="post">
            {% csrf_token %}
            {% for f in form %}
        <div class="footer__input-email-wrap">
            <p><label class="col-10 col-sm-10 footer__input-email" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
            <div class="footer__bottom">
                <input class="footer__submit" type="submit" value="Заказать звонок">
            </div>
        </div>
    </form>
        {% endfor %}
{% endblock %}